[Unit]
Description=This is web daemon
PartOf=eb-app.target



[Service]
User=webapp
Type=simple
ExecStartPre=source /var/app/venv/staging-LQM1lest/bin/activate
ExecStart=/bin/sh -c "gunicorn --bind 127.0.0.1:8001 --workers=1 --threads=15 taiga.wsgi:application"

ExecStartPost=/bin/sh -c "systemctl show -p MainPID web.service | cut -d= -f2 > /var/pids/web.pid"
ExecStopPost=/bin/sh -c "rm -f /var/pids/web.pid"
ExecStopPost=/bin/sh -c ""
Restart=always


EnvironmentFile=/opt/elasticbeanstalk/deployment/env 

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=web
WorkingDirectory=/var/app/current/ 


[Install]
WantedBy=multi-user.target
